<section id="techstack">
    <article>
        <figure>
            <div class="leftPart">
                <div class="puzzle express"><div class="border"><img src="/assets/img/express-icon.svg" /></div></div>
                <div class="puzzle mongodb"><div class="border"><img src="/assets/img/mongodb-icon.svg" /></div></div>
            </div>
            <div class="rightPart">
                <div class="puzzle angular"><div class="border"><img src="/assets/img/angular-icon.svg" /></div></div>
                <div class="puzzle nodejs"><div class="border"><img src="/assets/img/nodejs-icon.svg" /></div></div>
            </div>
        </figure>
        <div class="description">
            <strong class="strongHeader squareDecorated">Tech stack</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </article>
</section>