<section>
    <div class="container">
        <div class="flexible">
            <aside>
                <img src="assets/img/404.svg" class="aside-image">
            </aside>
            <article>
                <strong class="strongHeader squareDecorated">Nie znalazłem strony, której szukasz :(</strong>
                <p>Sprawdź czy został wpisany poprawny adres lub wróć na stronę główną.</p>
                <a class="btn" href="/">Wróć na stronę główną</a>
            </article>
        </div>
    </div>
</section>