<section id="cta">
    <div class="container flexible">
        <article>
            <strong class="strongHeader squareDecorated">Czym się zajmuję?</strong>
            <p>Głównie zajmuję się wartwą wizualną stron internetowych, a precyzując - kodowaniem interfejsu użytkownika i UX. Innymi słowy dbam o całą magię, która dzieje się na oczach użytkownika - czyli <span class="highlighted">frontendem</span> - ze współpracą magików, którzy działają zza kurtyny po stronie serwera - czyli backendem.</p>
            <button class="btn"><span class="material-icons">perm_contact_calendar</span> Dowiedz się więcej</button>
        </article>
        <aside>
            <img src="/assets/img/my_job.svg" />
        </aside>
    </div>
</section>