<nav>
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">home</span>
                <span class="name">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">assignment_ind</span>
                <span class="name">About Me</span>
            </a>
        </li>
        <li>
            <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">ballot</span>
                <span class="name">Portfolio</span>
            </a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">alternate_email</span>
                <span class="name">Contact</span>
            </a>
        </li>
    </ul>
</nav>