<nav>
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">home</span>
                <span class="name">Główna</span>
            </a>
        </li>
        <li>
            <a routerLink="/omnie" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">assignment_ind</span>
                <span class="name">O mnie</span>
            </a>
        </li>
        <li>
            <a routerLink="/portfolio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">ballot</span>
                <span class="name">Portfolio</span>
            </a>
        </li>
        <li>
            <a routerLink="/kontakt" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-icons">alternate_email</span>
                <span class="name">Kontakt</span>
            </a>
        </li>
    </ul>
</nav>