<section id="homeMain">
    <h1>Jakub Stawski</h1>
    <div class="separator">
        <span class="material-icons">science</span>
    </div>
    <div class="container flexible">
        <aside>
            <img src="assets/img/hello_world.jpg" class="aside-image">
        </aside>
        <article>
            <strong class="strongHeader">Hello world!</strong>
            <p>Witaj na mojej eksperymentalnej platformie, którą rozwijam w ramach nauki <span class="highlighted">kodowania</span>. Zasiądź wygodnie i - odkąd postanowiłęm tą stronę opublikować - zerknij nad czym teraz pracowałem. W miarę możliwości staram się uzupełniać dokumentację w zakładce <span class="highlighted">Blog</span>, więc i tam Cię serdecznie zapraszam. Jeżeli jesteś zainteresowany kontaktem koniecznie odwiedź zakładkę <span class="highlighted">Kontakt</span>, a obiecuję odpisać najszybciej jak mogę. <span class="highlighted">Miłego odbioru :)</span>
            </p>
        </article>
    </div>
</section>
<app-my-job></app-my-job>
<app-contactform-section></app-contactform-section>