<section id="homeMain">
    <h1>Jakub Stawski</h1>
    <div class="separator">
        <span class="material-icons">science</span>
    </div>
    <div class="container flexible">
        <aside>
            <img src="assets/img/hello_world.jpg" class="aside-image">
        </aside>
        <article>
            <strong class="strongHeader squareDecorated">Hello world!</strong>
            <p>Witaj na mojej eksperymentalnej platformie, którą rozwijam w ramach <span class="highlighted">nauki Angulara</span>. Zasiądź wygodnie i - odkąd postanowiłęm tą stronę opublikować - zerknij nad czym teraz pracowałem. Swoje <span class="highlighted">projekty</span> wrzucam do zakładki Portfolio, więc i tam Cię serdecznie zapraszam. Jeżeli jesteś zainteresowany kontaktem koniecznie sprawdź działanie formularza kontaktowego. <span class="highlighted">Miłego odbioru :)</span>
            </p>
        </article>
    </div>
</section>
<app-my-job></app-my-job>
<app-contactform-section></app-contactform-section>