<section>
    <div class="container">
        <h1>O mnie</h1>
        <div class="separator">
            <span class="material-icons">account_circle</span>
        </div>
        <div class="flexible">
            <aside>
                <img src="assets/img/me.svg" class="aside-image">
            </aside>
            <article>
                <strong class="strongHeader squareDecorated">
                    Kim jestem, dokąd zmierzam?
                </strong>
                <p>Nazywam się Jakub Stawski i uczę się <span class="highlighted">frontendowania</span> - to tak w skrócie. Staram się rozwijać w tym kierunku za pośrednictwem tej strony, która de facto powstała na ten właśnie użytek. Zamieszczam tutaj swoje rozwiązania, które również można przejżeć na moim GitHubie. Za pomocą tej strony dowiesz się też <span class="highlighted">co nieco o mnie.</span></p>
                <strong class="strongHeader squareDecorated">
                    Czego chciałbyś się o mnie dowiedzieć?
                </strong>
                <div class="qaFilters">
                    <strong>Filtry:</strong>
                    <span class="filter" (click)="activeFilterDisplay('all')" [ngClass]="{'active': filter === 'all'}">Wszystkie</span>
                    <span class="filter" (click)="activeFilterDisplay('testowe')" [ngClass]="{'active': filter === 'testowe'}">Testowe</span>
                    <span class="filter" (click)="activeFilterDisplay('drugie')" [ngClass]="{'active': filter === 'drugie'}">Drugie</span>
                </div>
            </article>
        </div>

        <div class="qaFilterContent">           
            <div class="item" *ngFor="let qa of itemTags">
                <strong> {{qa.q}} </strong>
                <p class="tags">{{qa.tags}}</p>
                <p>{{qa.a}}</p>
            </div>
        </div>
    </div>
</section>