<section>
    <div class="container">
        <h1>Portfolio</h1>
        <p>Tutaj znajdziesz moje ostatnie projekty</p>
        <div class="separator">
            <span class="material-icons">ballot</span>
        </div>

        <div class="portfolioItems">
            <div *ngFor="let item of portfolioItems" class="item">
                <a href="{{item.href}}">
                    <div class="picture">
                        <img src="{{item.img}}" />
                    </div>
                    <strong>{{item.title}}</strong>
                    <p>{{item.description}}</p>
                </a>
            </div>
        </div>
    </div>
</section>